/*
 * colors variables
 */
html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.wrapper .wrapper-content {
  padding-bottom: 300px;
}

/*
 * colors variables
 */
.topNavWrapper {
  font-size: 12px;
  line-height: 28px;
  background-color: #fafafa;
  border-bottom: 1px solid #ececec;
}

.topNavWrapper .navbar {
  min-height: 28px;
  margin-bottom: 0;
  overflow: hidden;
  padding-right: 15px;
}

/*
 * colors variables
 */
header {
  /*
     * nav-color, menu-color, mouseover-color
     */
}

header a {
  color: #666;
}

header a:hover {
  color: #f63;
  text-decoration: none;
}

header .headerWrapper {
  min-height: 40px;
  padding: 5px 0;
}

header .headerWrapper .tel {
  font-size: 18px;
  color: #f63;
}

header .headerWrapper .tel .glyphicon-earphone {
  border: 2px solid #f63;
  padding: 4px;
  border-radius: 13px;
  margin-right: 5px;
  font-size: 13px;
}

header .menuNavWrapper {
  background-color: #4c5a65;
}

header .menuNavWrapper .navbar-nav li {
  line-height: 36px;
}

header .menuNavWrapper .navbar-nav li.active {
  background-color: #f63;
}

header .menuNavWrapper .navbar-nav li a {
  color: #fff;
}

header .menuNavWrapper .navbar-nav li a:hover, header .menuNavWrapper .navbar-nav li a:focus {
  background-color: #f63;
}

/*
 * colors variables
 */
footer {
  height: 289px;
  margin-top: -289px;
  background-color: #ddd;
}

footer .foot-box {
  padding-top: 25px;
  height: 289px;
}

footer dl {
  width: 12%;
  float: left;
  margin-right: 10px;
}

footer dl dt {
  font-size: 18px;
  margin-bottom: 10px;
}

footer dl dd {
  font-size: 14px;
  color: #666;
  line-height: 28px;
}

footer dl:last-child, footer dl:nth-last-child(2) {
  float: right;
}

/*
 * colors variables
 */
.travel-note-citybanner {
  position: relative;
}

.travel-note-citybanner .city {
  position: absolute;
  top: 10%;
  color: #fff;
}

.travel-note-citybanner .city .city-name {
  font-size: 36px;
  font-weight: bold;
}

/*
 * colors variables
 */
.travel-note-citylist {
  margin-top: 20px;
}

.travel-note-citylist .note-item .processor {
  width: 3px;
  position: relative;
  background-color: #ddd;
  padding-right: 4px;
}

.travel-note-citylist .note-item .processor .circle {
  position: absolute;
  left: -9px;
  top: -2px;
}

.travel-note-citylist .note-item .processor .circle .points {
  color: #50b400;
  font-size: 20px;
}

.travel-note-citylist .note-item .note-detail {
  padding-left: 25px;
}

.travel-note-citylist .note-item .note-detail .note-content {
  padding-top: 15px;
  padding-bottom: 15px;
}

.travel-note-citylist .note-item .note-detail .note-content img {
  width: 170px;
}

.travel-note-citylist .note-item .note-detail .note-content .note-text .media-head {
  overflow: hidden;
  max-width: 580px;
  width: 580px;
  line-height: 34px;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 580px;
  font-size: 18px;
}

.travel-note-citylist .note-item .note-detail .note-content .note-text .note-desc {
  position: relative;
  line-height: 22px;
  max-height: 44px;
  overflow: hidden;
  color: #666;
}

.travel-note-citylist .note-item .note-detail .note-content .note-text .note-desc:after {
  content: "...";
  position: absolute;
  bottom: 0;
  right: 3px;
  padding-left: 40px;
  background: -webkit-linear-gradient(left, transparent, #fff 79%);
  background: -o-linear-gradient(right, transparent, #fff 79%);
  background: -moz-linear-gradient(right, transparent, #fff 79%);
  background: linear-gradient(to right, transparent, #fff 79%);
}

.travel-note-citylist .note-item .note-detail .note-content .note-text .pull-left .photo img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.travel-note-citylist .note-item .note-detail .note-content .note-text .pull-left .author {
  color: #f63;
}

.travel-note-citylist .note-item .note-detail .note-content .note-text .pull-right {
  color: #9a9a9a;
  font-size: 12px;
}

.travel-note-citylist .note-item .note-detail .note-content .note-text .pull-right span {
  padding-left: 15px;
}

.travel-note-citylist .note-item .note-detail .note-content .note-text .pull-right .glyphicon {
  color: #9a9a9a;
}

.travel-note-citylist .note-item .note-detail .note-content .note-text .pull-right .fa {
  color: #bbb;
}

.travel-notes-list .notes-content h4 {
  height: 32px;
  line-height: 32px;
  border-bottom: 1px dashed #ddd;
}
