@charset "UTF-8";
/*
 * colors variables
 */
html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.wrapper .wrapper-content {
  padding-bottom: 300px;
}

/*
 * colors variables
 */
.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 40px;
  min-height: 100%;
  background-color: #333;
  color: #666;
}

.sidebar li {
  position: relative;
  line-height: 38px;
  font-size: 22px;
  text-align: center;
}

.sidebar li a {
  color: #666;
}

.sidebar li.active {
  background-color: #f63;
  color: #fafafa;
  cursor: pointer;
}

.sidebar li.active a {
  color: #fff;
}

.sidebar li .hidetext {
  display: none;
  position: absolute;
  top: 0;
  right: 40px;
  width: 80px;
  font-size: 14px;
  background-color: #f63;
}

.sidebar li .hidetext a {
  color: #fff;
}

.sidebar .slider-top {
  width: 100%;
  height: auto;
  margin-top: 15px;
}

.sidebar .slider-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

.sidebar .slider-bottom .cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  background: #f63;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.sidebar .slider-bottom .cd-top .gotop {
  color: #fff;
}

.sidebar .slider-bottom .cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.sidebar .slider-bottom .cd-top.cd-fade-out:hover {
  /* 如果用户继续向下滚动,这个按钮的透明度会变得更低 */
  opacity: 1;
  background-color: #f63;
}

/*
 * colors variables
 */
.topNavWrapper {
  font-size: 12px;
  line-height: 28px;
  background-color: #fafafa;
  border-bottom: 1px solid #ececec;
}

.topNavWrapper .navbar {
  min-height: 28px;
  margin-bottom: 0;
  overflow: hidden;
  padding-right: 15px;
}

/*
 * colors variables
 */
header {
  /*
     * nav-color, menu-color, mouseover-color
     */
}

header a {
  color: #666;
}

header a:hover {
  color: #f63;
  text-decoration: none;
}

header .headerWrapper {
  min-height: 40px;
  padding: 5px 0;
}

header .headerWrapper .tel {
  font-size: 18px;
  color: #f63;
}

header .headerWrapper .tel .glyphicon-earphone {
  border: 2px solid #f63;
  padding: 4px;
  border-radius: 13px;
  margin-right: 5px;
  font-size: 13px;
}

header .menuNavWrapper {
  background-color: #4c5a65;
}

header .menuNavWrapper .navbar-nav li {
  line-height: 36px;
}

header .menuNavWrapper .navbar-nav li.active {
  background-color: #f63;
}

header .menuNavWrapper .navbar-nav li a {
  color: #fff;
}

header .menuNavWrapper .navbar-nav li a:hover, header .menuNavWrapper .navbar-nav li a:focus {
  background-color: #f63;
}

/*
 * colors variables
 */
footer {
  height: 289px;
  margin-top: -289px;
  background-color: #ddd;
}

footer .foot-box {
  padding-top: 25px;
  height: 289px;
}

footer dl {
  width: 12%;
  float: left;
  margin-right: 10px;
}

footer dl dt {
  font-size: 18px;
  margin-bottom: 10px;
}

footer dl dd {
  font-size: 14px;
  color: #666;
  line-height: 28px;
}

footer dl:last-child, footer dl:nth-last-child(2) {
  float: right;
}

/*
 * colors variables
 */
/*
  * citychoose style
  */
.locations {
  position: relative;
  float: left;
  margin-bottom: 10px;
}

.locations .cityinput {
  position: relative;
  padding-left: 25px;
  width: 215px;
  height: 34px;
  line-height: 34px;
  font-size: 15px;
}

.locations .city-icon {
  position: absolute;
  top: 7px;
  left: 3px;
  color: #f63;
  font-size: 20px;
}

.locations .city-span {
  position: absolute;
  top: 10px;
  right: 116px;
  line-height: 17px;
  font-size: 12px;
  color: #666;
}

.locations .arrow-down {
  position: absolute;
  top: 11px;
  right: 6px;
  font-size: 10px;
  color: #666;
}

/*
 * colors variables
 */
.travel-search {
  display: inline-block;
  margin-left: 15px;
}

.travel-search .main-search {
  display: inline-block;
  border: 2px solid #f63;
  overflow: hidden;
}

.travel-search .main-search .dropdown-choose {
  float: left;
  width: 90px;
}

.travel-search .main-search .dropdown-choose #dropdown {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.travel-search .main-search .dropdown-choose #dropdown .choosed {
  border-right: 1px solid #ccc;
  line-height: 32px;
  cursor: pointer;
}

.travel-search .main-search .dropdown-choose #dropdown .arrow-down {
  position: absolute;
  top: 10px;
  right: 6px;
  font-size: 10px;
  color: #666;
}

.travel-search .main-search .dropdown-choose #dropdown ul {
  display: none;
  position: fixed;
  margin-left: -2px;
  z-index: 9999;
  border-top: 1px solid #ccc;
  border-left: 2px solid #f63;
  border-right: 2px solid #f63;
  border-bottom: 2px solid #f63;
  background-color: #fafafa;
}

.travel-search .main-search .dropdown-choose #dropdown ul li {
  padding: 3px 24px 3px 23px;
  line-height: 24px;
  text-align: center;
}

.travel-search .main-search .dropdown-choose #dropdown ul li a {
  display: block;
  color: #666;
  text-decoration: none;
}

.travel-search .main-search .dropdown-choose #dropdown ul li:hover {
  background-color: #ddd;
}

.travel-search .main-search .search-area {
  width: 668px;
}

@media (max-width: 1200px) {
  .travel-search .main-search .search-area {
    width: 590px !important;
  }
}

.travel-search .main-search .search-area .input-search {
  width: 505px;
  height: 32px;
  padding-left: 10px;
  border: 0;
  border-color: #f63;
  border-radius: 0;
  line-height: 32px;
}

@media (max-width: 1200px) {
  .travel-search .main-search .search-area .input-search {
    width: 390px !important;
  }
}

.travel-search .main-search .search-area .search-btn {
  padding-left: 20px;
  padding-right: 20px;
  float: right;
  border-color: #f63;
  border-radius: 0;
  line-height: 32px;
  font-size: 16px;
  background-color: #f63;
  color: #fff;
}

.travel-search .hot-words {
  float: right;
  margin-left: 10px;
  line-height: 32px;
}

.travel-search .hot-words a {
  padding-left: 8px;
}

/*
 * colors variables
 */
.travel-index-nav {
  position: relative;
  float: left;
  width: 320px;
  height: 100%;
}

.travel-index-nav a {
  color: #797979;
}

.travel-index-nav a:hover {
  color: #f63;
  text-decoration: none;
}

.travel-index-nav .citylistbox {
  border: 2px solid #f63;
  border-top-width: 1px;
}

.travel-index-nav .citylistbox .listbox {
  border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid transparent;
}

.travel-index-nav .citylistbox .listbox:first-child {
  border-top: 1px solid #f63;
}

.travel-index-nav .citylistbox .listbox:last-child {
  border-bottom: none;
}

.travel-index-nav .citylistbox .listbox .list {
  overflow: hidden;
  position: relative;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #fff;
  z-index: -1;
}

.travel-index-nav .citylistbox .listbox .list .icon {
  width: 28px;
  height: 28px;
  float: left;
}

.travel-index-nav .citylistbox .listbox .list dl {
  width: 292px;
  margin: 0;
}

.travel-index-nav .citylistbox .listbox .list dl dt {
  font-size: 16px;
  font-weight: normal;
}

.travel-index-nav .citylistbox .listbox .list dl dd {
  margin-top: 5px;
  margin-left: 28px;
  line-height: 26px;
}

.travel-index-nav .citylistbox .listbox .list dl dd a {
  padding-right: 14px;
}

.travel-index-nav .citylistbox .listbox .box {
  display: none;
  height: 287px !important;
  _height: 289px;
  *height: 289px;
  width: 329px;
  position: absolute;
  margin-left: 312px;
  top: 0;
  padding: 12px;
  background-color: #fff;
  border: 2px solid #f63;
  z-index: 20;
}

.travel-index-nav .citylistbox .hover {
  width: 326px;
  background-color: #fff;
  border-top: 1px solid #f63;
  border-bottom: 1px solid #f63;
  z-index: 21;
}

.travel-index-nav .citylistbox .hover:first-child {
  border-top: 1px solid #f63;
  margin-top: 0;
}

.travel-index-nav .citylistbox .hover:last-child {
  border-bottom: none;
}

.travel-index-nav .citylistbox .hover .list {
  border: 0;
  z-index: 21;
}

.travel-index-imgroll {
  float: left;
  margin-left: 10px;
  height: 100%;
}

@media (max-width: 1200px) {
  .travel-index-imgroll {
    width: 760px !important;
  }
}

@media (min-width: 1200px) {
  .travel-index-imgroll {
    width: 840px;
  }
}

.travel-index-imgroll .carousel-inner .item img {
  height: 300px;
}

/*
 * colors variables
 */
.recommend {
  clear: both;
  overflow: hidden;
  margin: 10px 0;
  /* 
     * cards list style 
     */
  /*
    *every recommendArea style
    */
  /*
    * recommend1 style
    */
  /*
    * recommend2 style
    */
  /*
    * recommend3 style
    */
}

.recommend a {
  text-decoration: none;
  color: #333;
}

.recommend a:hover {
  color: #f63;
}

.recommend .title-nobg {
  line-height: 36px;
  border-bottom: 2px solid #ddd;
  color: #f63;
  letter-spacing: 2px;
}

.recommend .title-nobg span {
  position: relative;
  padding: 7px 0;
  border-bottom: 2px solid #f63;
}

.recommend .title-nobg span:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 2px;
  height: 2px;
  border-width: 5px;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #f63 transparent;
}

.recommend .prolist {
  margin-top: 10px;
}

.recommend .prolist ul {
  overflow: hidden;
  padding: 0;
}

.recommend .prolist ul .proline {
  float: left;
  list-style: none;
  margin-right: 17px;
  border: 1px solid transparent;
  width: 220px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .recommend .prolist ul .proline {
    width: 209px !important;
  }
}

.recommend .prolist ul .proline:last-child {
  margin-right: 0;
}

.recommend .prolist ul .proline:hover {
  border: 1px solid #ececec;
  box-shadow: 2px 3px 2px #ececec;
}

.recommend .prolist ul .proline .proline-img img {
  width: 100%;
  height: 125px;
}

.recommend .prolist ul .proline .proline-text {
  padding-left: 3px;
  padding-right: 3px;
}

.recommend .prolist ul .proline .proline-text .destination {
  overflow: hidden;
  margin-bottom: 5px;
  padding-top: 4px;
  height: 43px;
  color: #333;
}

.recommend .prolist ul .proline .proline-text .price {
  font-size: 12px;
  color: #666;
}

.recommend .prolist ul .proline .proline-text .price i {
  font-size: 20px;
  font-style: normal;
  color: #f63;
}

.recommend .prolist ul .proline .proline-text .price em {
  float: right;
  line-height: 30px;
  font-style: normal;
}

.recommend .recommend1 {
  overflow: hidden;
  margin-bottom: 25px;
}

.recommend .recommend2 {
  overflow: hidden;
  margin-bottom: 25px;
}

.recommend .recommend2 .title-bg {
  border-bottom: 1px solid #2da1e7;
  padding: 12px;
  margin: 0;
  font-size: 18px;
  color: #fff;
  background: #2da1e7;
}

.recommend .recommend2 .recommend-left {
  float: left;
  width: 207px;
}

.recommend .recommend2 .recommend-left .recommend-detail {
  height: 475px;
  width: 207px;
  padding-top: 18px;
  padding-left: 18px;
  background: url("../img/widget-youbg01.png");
  background-repeat: no-repeat;
}

.recommend .recommend2 .recommend-left .recommend-detail .title {
  padding-left: 10px;
  margin-bottom: 12px;
  border-left: 3px solid #2da1e7;
}

.recommend .recommend2 .recommend-left .recommend-detail .points li {
  display: inline-block;
  margin-right: 15px;
  font-size: 12px;
  line-height: 26px;
}

.recommend .recommend2 .recommend-right {
  float: left;
  width: 963px;
}

@media (max-width: 1200px) {
  .recommend .recommend2 .recommend-right {
    width: 880px !important;
  }
}

.recommend .recommend2 .recommend-right .nav-tabs {
  padding-left: 7px;
  border-bottom: 2px solid #2da1e7;
}

.recommend .recommend2 .recommend-right .nav-tabs li {
  margin-bottom: 0;
}

.recommend .recommend2 .recommend-right .nav-tabs li > a {
  position: relative;
  border: 0;
  font-size: 16px;
}

.recommend .recommend2 .recommend-right .nav-tabs li > a:hover, .recommend .recommend2 .recommend-right .nav-tabs li > a:focus {
  background: transparent;
}

.recommend .recommend2 .recommend-right .nav-tabs li.active a {
  color: #2da1e7;
}

.recommend .recommend2 .recommend-right .nav-tabs li.active .arrow {
  display: block;
  position: absolute;
  bottom: -1px;
  left: 35%;
  height: 0;
  width: 0;
  border-style: dashed dashed solid;
  border-color: transparent transparent #2da1e7;
  border-width: 8px;
}

.recommend .recommend2 .recommend-right .nav-tabs li.active .arrow i {
  display: block;
  position: absolute;
  top: -2px;
  left: -6px;
  height: 0;
  width: 0;
  border-style: dashed dashed solid;
  border-color: transparent transparent #fff;
  border-width: 6px;
  background: 0 0;
}

.recommend .recommend2 .recommend-right .more {
  margin-top: -30px;
  font-size: 14px;
  color: #2da1e7;
}

.recommend .recommend2 .recommend-right .more:hover {
  color: #f63;
}

.recommend .recommend2 .recommend-right .tab-content {
  padding-top: 4px;
  padding-left: 9px;
  padding-bottom: 9px;
  border-bottom: 1px solid #ebf2f7;
  border-right: 1px solid #ebf2f7;
}

.recommend .recommend2 .recommend-right .tab-content li {
  margin-bottom: 15px;
}

@media (max-width: 1200px) {
  .recommend .recommend2 .recommend-right .tab-content li.proline {
    width: 204px !important;
  }
}

.recommend .recommend3 {
  overflow: hidden;
  clear: both;
  margin-bottom: 25px;
}

.recommend .recommend3 .prolist {
  position: relative;
}

.recommend .recommend3 .prolist figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin-right: 17px;
  width: 220px;
  height: auto;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.recommend .recommend3 .prolist figure:last-child {
  margin-right: 0;
}

.recommend .recommend3 .prolist figure:hover img {
  opacity: 1;
  -webkit-transform: scale3d(1.15, 1.15, 1);
  transform: scale3d(1.15, 1.15, 1);
}

.recommend .recommend3 .prolist figure:hover h3, .recommend .recommend3 .prolist figure:hover p {
  opacity: 1;
  text-shadow: 2px 2px 2px #666;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.recommend .recommend3 .prolist figure img {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

.recommend .recommend3 .prolist figure figcaption {
  position: absolute;
  top: 6%;
  left: 29%;
  color: #fff;
}

.recommend .recommend3 .prolist figure figcaption h3 {
  padding-top: 26%;
  margin-bottom: 3px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

.recommend .recommend3 .prolist figure figcaption p {
  font-size: 15px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
}

.travel-index {
  padding-bottom: 15px;
}

.travel-index .container {
  width: 1170px;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1200px) {
  .travel-index .container .container {
    width: 980px;
  }
}

@media (min-width: 1200px) {
  .travel-index .container .container {
    width: 1170px;
  }
}

.travel-index .container .maincontent {
  margin-top: 10px;
}

.travel-index .container .navintro {
  overflow: hidden;
}
