/*
 * colors variables
 */
.travel-info-imgroll {
  overflow: hidden;
  padding: 10px;
  width: 700px;
  float: left;
}

@media (max-width: 1200px) {
  .travel-info-imgroll {
    width: 500px !important;
  }
}

.travel-info-imgroll .slider-pro {
  margin: 0;
  padding: 0;
}
