/*
 * colors variables
 */
.travel-person-changepassword {
  margin-top: 15px;
  margin-bottom: 15px;
}

.travel-person-changepassword h4 {
  height: 32px;
  line-height: 32px;
  border-bottom: 2px solid #ddd;
}

.travel-person-changepassword form {
  padding-top: 15px;
}

.travel-person-changepassword form .help-block {
  color: red;
}
