/*
 * colors variables
 */
.topNavWrapper {
  font-size: 12px;
  line-height: 28px;
  background-color: #fafafa;
  border-bottom: 1px solid #ececec;
}

.topNavWrapper .navbar {
  min-height: 28px;
  margin-bottom: 0;
  overflow: hidden;
  padding-right: 15px;
}
